<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h1>Peliculas nuevas</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slides-backdrop [peliculas]="peliculasRecientes"></app-slides-backdrop>

  <ion-grid fixed>
      <ion-row>
        <ion-col>
          <h1>Cartelera</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  <app-slides-poster [peliculas]="peliculasRecientes"></app-slides-poster>

  <ion-grid fixed>
      <ion-row>
        <ion-col>
          <h1>Populares</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-slides-pares [peliculas]="peliculasPopulares"
                      (cargarMas)="cargarMas()"></app-slides-pares>
</ion-content>
